*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
}

body {
  margin: 0;
  padding: 0;

  background-color: White;

  font-family: monospace;
  font-size: 0.8em;
}

h1,
h2 {
  font-size: 2em;
  padding: 0.1em;
}

p {
  font-size: 1em;
  padding: 0 0.2em;
}

.title {
  width: 70%;
  margin: 0 auto;
}

.title a {
  text-decoration: none;
  font-weight: 800;
  padding-left: 0.1em;
  padding-right: 1em;
}

.container {
  width: 70%;
  height: 100%;

  margin: 0 auto;
  padding: 1em 0.1em;
}

@media (max-width: 910px) {
  .container {
    width: 100%;
    height: 100%;

    margin: 0 auto;
    padding: 1em 0.1em;
  }

  .title {
    width: 100%;
    margin: 0 auto;
  }
}

.grid {
  /* border: 2px solid teal; */

  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(13, auto);
  grid-gap: 0.1em;
  grid-auto-flow: dense;
}
.tech-card {
  background-color: rgb(123, 179, 253);
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  border-radius: 5px;
}

.tech01 {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}
.tech02 {
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;

  background-color: rgb(84, 124, 177);
}
.tech03 {
  grid-column: 7 / span 6;
  grid-row: 2 / span 1;
  background-color: rgb(84, 124, 177);
}
.tech04 {
  grid-column: 13 / span 6;
  grid-row: 2 / span 1;
}
.tech05 {
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;

  background-color: tomato;
}
.tech055 {
  grid-column: 7 / span 6;
  grid-row: 3 / span 1;
}
.tech0555 {
  grid-column: 1 / span 9;
  grid-row: 6 / span 1;

  background-color: tomato;
}
.tech06 {
  grid-column: 13 / span 3;
  grid-row: 3 / span 1;
}
.tech07 {
  grid-column: 16 / span 3;
  grid-row: 3 / span 1;
}
.tech08 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}
.tech09 {
  grid-column: 4 / span 3;
  grid-row: 4 / span 1;
}
.tech10 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 1;
}
.tech11 {
  grid-column: 10 / span 3;
  grid-row: 4 / span 1;

  background-color: tomato;
}
.tech12 {
  grid-column: 1 / span 9;
  grid-row: 5 / span 1;
}

/* .tech13 {
  background-color: rgb(70, 156, 152);
  grid-column: 16 / span 3;
  grid-row: 4 / span 1;
} */
